<form [formGroup]="taskFormGroup" (ngSubmit)="onAddTask()">
  <!-- <div>
    <input type="date" formControlName="date">
  </div> -->
  <div>
    <label>Task</label>
    <input type="text" formControlName="name" placeholder="Enter Task name" />
    <p class="error" *ngIf=" f['name'].errors?.['required']">
      Task name is required
    </p>
  </div>
  
  
  <button type="submit" mat-raised-button color="primary">
    ADD TASK
  </button>
  <button  type="submit" (click)="changeWindows()" mat-raised-button color="primary">
    START
  </button>
  <!-- (click)="onAddTask()" -->
</form>

