<div class="container">

  <button class="date" mat-raised-button color="warn" (click)="showCalendar = !showCalendar">
    {{ date | date: 'EEEE, dd MMMM, yyyy'}}
  </button>
  <div *ngIf="showCalendar" class="datePicker">
    <mat-calendar [(selected)]="dateSelected"></mat-calendar>
  </div>

  <div>

    <h1 class="time">
      {{date | date: 'HH:mm '}}
      <img src="assets/clock.png" alt="clock">
    </h1>

    <form>
      <div >
        <label>Task</label>
        <input type="text" formControlName="name" placeholder="Enter Task name" />
      </div>
      <button type="submit" routerLink="/game" (click)="closeWindows()"
        mat-raised-button color="primary">
        PLAY
      </button>
    </form>

    <button class="task" mat-raised-button>
      {{timeLeft}}
      <img src="assets/todolist.png" alt="todolist">
    </button>

    <h1 class="time">
      00:00
      <img src="assets/midnight.png" alt="midnight">
    </h1>

  </div>
</div>

<!-- <h1>All tasks</h1>
<li *ngFor="let task of taskList">
  {{ task.start }}
  {{ task.name }}
  {{ task.end }}
</li>
<h1>All tasks this day</h1>
<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let taskDay of taskListByDay" cdkDrag>
    <h1>{{ taskDay.start }}</h1>
    <h1>{{ taskDay.name }}</h1>
    <h1>{{ taskDay.end }}</h1>
  </div>
</div> -->