.container{
    width: 700px;
}

.time{
    margin: 0;
}

form {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

form div{
  width: 50%;
}

input[type="text"], textarea {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: vertical;
  resize: none;
}

input[type="text"]:focus, input[type="date"]:focus, input[type="time"]:focus, textarea:focus {
  border-color: #3498db;
  outline: none;
}

button[routerlink="/task"] {
  width: 50%;
  height: 50px;
  padding: 14px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

button[routerlink="/task"]:hover {
  border: 2px solid #B22222;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

button {
  margin: auto;
  display: block;
}

.date, .datePicker, .task {
    margin-top: 30px;
    width: 100%;
    font-size: 20px;
}

.task{
    height: 50px;
}

img[alt="clock"], img[alt="midnight"]{
    height: 20px;
    text-align: center;
}

img[alt="todolist"]{
    height: 30px;
}

