<div class="flex">
    <div class="m-auto">
        <mat-card>
            <mat-card-title>
                Login
            </mat-card-title>

            <mat-card-content>
                <form [formGroup]="userFormGroup">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" 
                            class="form-control" placeholder="Enter your email" required/>
                    </mat-form-field> 

                    <mat-divider></mat-divider>

                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" 
                            placeholder="Enter your password" required />
                    </mat-form-field>
                </form>
            </mat-card-content>
            <div class="textForm error" color="primary" *ngIf=" submitted && userFormGroup.invalid">
                Invalid form
            </div>

            <mat-card-actions>
                <button type="submit"  (click)="onLogin()" color="primary" mat-raised-button>Login
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>