figure{
  margin: 0;
}

img{
  position: absolute;
  z-index: 9999;
  right: 0;
}


#actions{
  padding-top: 4px;
  padding-bottom: 10px;
  text-align: right;
}

#play{
  text-align: right;
}

.progress-container {
  margin-left: auto; 
  margin-right: 0;
  height: 0.8rem;
  width: 140px;
  border-radius: 0.4rem;
  border: 1px solid black;
  background: white 
}

.progress-container .progress {
  height: 100%;
  width: 0;
  font-size: 12px;
  font-weight: bold;
  border-radius: 0.4rem;
  background: #fdd703;
  color: black;
  transition: width 0.4s ease;
}


.button-wrapper{
  margin-top: 8px;
}

.button-82-pushable {
  width: 140px;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    rgb(82, 0, 27) 0%,
    rgb(163, 0, 54) 8%,
    rgb(163, 0, 54) 92%,
    rgb(82, 0, 27) 100%
  );
}

.button-82-front {
  display: block;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: rgb(240, 0, 60);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}
