<div class="game">
  <figure [style.height.px]="90">
    <img #coin [style.height.px]="coinHeight" src="" style="display:none;">
  </figure>
  <div class="progress-container">
    <div class="progress" [style.width]="progress.toString()+'%'">{{time}}</div>
  </div>
  <div class="button-wrapper">
    <button (click)="onAddDistraction()" class="button-82-pushable" role="button">
      <span class="button-82-shadow"></span>
      <span class="button-82-edge-3"></span>
      <span class="button-82-front-3 large hover active">
        Distraction
      </span>
    </button>
  </div>
  <div class="button-wrapper">
    <button class="button-82-pushable" role="button">
      <span class="button-82-shadow"></span>
      <span class="button-82-edge-2"></span>
      <span class="button-82-front-2 large hover active">
        Pause
      </span>
    </button>
  </div>
  <div class="button-wrapper">
    <button class="button-82-pushable" role="button">
      <span class="button-82-shadow"></span>
      <span class="button-82-edge"></span>
      <span (click)="onAddTask()" class="button-82-front large hover active">
        STOP
      </span>
    </button>
  </div>
</div>