<mat-toolbar color="primary" class="flex justify-content-between">
    <div class="relative">
        <h1 routerLink="/" style="position: absolute; transform: translate(0%, -50%);">
            TODODAY
        </h1>
    </div>
    <div class="relative">
        <button routerLink="/day" mat-raised-button
            style="position: absolute; transform: translate(0%, -50%);">
            Task history
        </button>
    </div>
    <div>
        <button routerLink="/login" mat-raised-button>Login</button>
        <button routerLink="/register" mat-raised-button>Register</button>
    </div>
</mat-toolbar>