/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.m-auto {
  margin: auto;
}

.error {
  color: red;
}

mat-card{
  margin-top: 200px;
  padding: 40px;
  width: 450px;
}


mat-card-content {
  padding: 0;
}

mat-card-title {
  padding-bottom: 20px;
}

mat-label{
  font-size: larger;
}

mat-error{
  font-size: 16px;
}

.mdc-button__label{
  font-size: 18px;
}

