<form [formGroup]="taskFormGroup">
  <div>
    <input type="date" formControlName="date">
  </div>
  <div>
    <label>Task</label>
    <input type="text" formControlName="name" placeholder="Enter Task name" />
  </div>
  <div>
    Start<input type="time" formControlName="start">
    End<input type="time" formControlName="end">
  </div>
  <div>
    <textarea formControlName="description" placeholder="Description"></textarea>
  </div>
  <button type="submit" (click)="onSubmitForm()" mat-raised-button color="primary">Valider</button>
</form>